.button {
	border: none;
	background-color: var(--accent);
	padding: 5px 10px;
	border-radius: 5px;
    color: var(--text-primary);
}

.button--alt {
	border: 1px solid var(--accent);
	background: none;
	padding: 5px 10px;
	border-radius: 5px;
	color: var(--text-primary);
}
