.profile-card {
	width: 200px;
	max-width: 100%;
	margin: 30px auto;
	background-color: var(--background);
	color: var(--text-primary);
	border-color: var(--card-border);
}

.list-item {
	background-color: var(--background);
	color: var(--text-primary);
	border-color: var(--card-border);
}

@media (min-width: 550px) {
	.profile-card {
		flex-direction: row;
		align-items: center;
		width: 600px;
	}
	.profile-card img {
		width: 40%;
		border-top-right-radius: 0;
		border-bottom-left-radius: calc(0.25rem - 1px);
	}
}
