.side-navbar {
	position: fixed;
	top: 40px;
	left: 0;
	z-index: 100;
}

.toggle {
	position: absolute;
	top: 80px;
	left: -28px;
	width: 50px;
	height: 50px;
	text-align: right;
	background-color: var(--components-background);
	color: var(--text-primary);
	border: none;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	padding: 10px 2px;
	cursor: pointer;
	transition: left 0.3s;
	outline: none;
}
.toggle:active,
.toggle:focus {
	color: var(--accent);
}
.toggle::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--components-background);
	transform: rotate(45deg);
	border-radius: 8px;
	z-index: -1;
}
.toggle.expanded {
	left: calc(270px - 28px);
}
