/* .App>*{
    transition: background-color .3s ease;
} */


.form-check-input:checked{
    background-color: var(--accent) !important;
    border-color: var(--accent)!important;
}
.form-check-label {
    color:var(--text-primary)!important;
}

.react-bootstrap-table table {
    table-layout: auto;
    overflow-x: scroll;
    min-width: 800px;
    }

 .react-bootstrap-table .filter-label .sr-only {
     display: none;
 }

 .react-bootstrap-table .text-filter {
    max-height: 30px;
    font-size: 16px;
}
.react-bootstrap-table .order-4{
    margin-right: 10px;
}

 section h1 {
    position: relative;
    font-size: 3.2rem;
    margin-bottom: 4rem; 
    color: var(--text-primary);
    text-align: center;
  }
  h1::before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -1rem;
    width: 15rem;
    height: 0.2rem;
    background-color: var(--accent);

  }
