/* .App>*{
    transition: background-color .3s ease;
} */


.form-check-input:checked{
    background-color: var(--accent) !important;
    border-color: var(--accent)!important;
}
.form-check-label {
    color:var(--text-primary)!important;
}